[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
theano = "*"
pymc3 = "*"
seaborn = "*"
pytest = "*"
pdoc3 = "*"
cffi = "*"
dfply = "*"
twine = "*"
deprecated = "*"

[dev-packages]

[requires]
python_version = "3.8"
